<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <nav>
        <ul>
            <li>
                <a href="https://github.com/YangSiJun528/hakko"
                   target="_blank"
                   rel="noopener noreferrer">GitHub</a>
            </li>
            <li>
                <a href="https://buymeacoffee.com/sijun_yang"
                   target="_blank"
                   rel="noopener noreferrer">☕ 커피 한 잔 사주기</a>
            </li>
        </ul>
    </nav>
    <small>
        본 웹사이트는 CHZZK, SOOP의 공식 웹사이트가 아닙니다.
        각 플랫폼의 상표권은 해당 기업에 있습니다.
    </small>
</footer>
</html>
