<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header(platform)" th:attr="data-platform=${platform}">
    <nav>
        <a th:href="@{/}" th:text="hakko">hakko</a>
        <ul>
            <li>
                <a th:href="@{/chzzk}"
                   th:class="${platform != null and platform == 'CHZZK'} ? 'active'">CHZZK</a>
            </li>
            <li>
                <a th:href="@{/soop}"
                   th:class="${platform != null and platform == 'SOOP'} ? 'active'">SOOP</a>
            </li>
        </ul>
    </nav>
</header>
</html>
